@model ClubbyBook.Web.UI.Areas.Admin.Models.Profile.ProfileViewModelList

@{
    ViewBag.Title = "Читатели";
    Layout = "~/Areas/Admin/Views/Shared/Master.cshtml";

    string smallPartTitle = Model.TotalItemCount > 0 ? string.Format("(всего {0} читателей)", Model.TotalItemCount) : string.Empty;
}

<div class="page-index">

    @Html.Partial("Header", Html.GetHeaderBlockForIndex("Читатели", smallPartTitle, false))

    <div class="page-notification" style="display: none;">
        <div class="alert alert-success">
        </div>
    </div>

    @Html.Partial("Search", Model.SearchKey)

    <div class="page-list">
        @if (Model.TotalItemCount != 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Почта</th>
                        <th>Полное имя</th>
                        <th>Город</th>
                        <th>Роли</th>
                        <th>Дата регистрации</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                <a href="@Url.GoTo(AdminUrlTemplates.ViewReader, item.Id)">@item.Email</a>
                            </td>
                            <td>
                                @item.FullName
                            </td>
                            <td class="city">
                                @item.City.DisplayShortString
                            </td>
                            <td class="roles">
                                @item.Roles.DisplayString
                            </td>
                            <td class="created-date">
                                @item.CreatedDate
                            </td>
                            <td class="all-actions text-center">
                                <a class="btn btn-primary btn-xs" href="@Url.GoTo(AdminUrlTemplates.EditReader, item.Id)">Редактировать</a>
                                <a class="btn btn-warning btn-xs" href="javascript: void();"
                                    onclick="adminCommonHelper.deleteEntity(this, '@Url.GoTo(AdminUrlTemplates.DeleteReader)', @item.Id); return false;">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @Html.Partial("Paging", Model.PagingInfo)
        }
        else
        {
            @Html.Partial("Empty")
        }
    </div>
</div>